nav {
  background-color: #020114;
  color: #fff;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: #ff0;
}


.purpose {
  background-color: #d1d9e6;
  padding: 50px;
  text-align: center;
}

.purpose h2 {
  font-family: 'Monotype Corsiva', Monotype Corsiva;
  font-size: 35px;
  margin-bottom: 20px;
}

.purpose p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 600px;
}

.artikel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.artikel-kiri {
  float: left;
  width: 50%;
  clear: both;
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 20px;
}

.artikel-kanan {
  float: right;
  width: 50%;
  clear: both;
  border: 1px solid #000000;
  padding: 10px;
}

.gambar-artikel {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.tombol-view {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tombol-view:hover {
  background-color: #f7f7f7;
}

